@font-face {
    font-family: clip;
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(36, 34, 34);
}


.container {
    display: block;
    scroll-snap-type: y mandatory;
}

.container>div {
    scroll-snap-align: center;
}

/* first section */
.text {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: clip;
    font-size: 6em;
    color: #ffe6ffff;
    background-image: radial-gradient(ellipse 50% 50% at 50% 50%, #6b1839, transparent);
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

#title {
    font-size: 5rem;
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }

    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }

    82%,
    97% {
        color: #ff2843;
        text-shadow: none;
    }
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }

    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
            -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {

    0%,
    24%,
    42%,
    68%,
    100% {
        opacity: 1;
    }

    4%,
    10%,
    12%,
    17%,
    56%,
    58%,
    70% {
        opacity: 0.9;
    }

    19%,
    37%,
    93%,
    97% {
        opacity: 0.93;
    }

    8%,
    14%,
    72%,
    95% {
        opacity: 0.95;
    }

    6% {
        opacity: 0.85;
    }


    11% {
        opacity: 0.922;
    }

    16%,
    28% {
        opacity: 0.98;
    }

    20%,
    60% {
        opacity: 0.99;
    }

    26%,
    46% {
        opacity: 0.94;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    44% {
        opacity: 0.97;
    }
}

/* second section */
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.card {
    width: 400px;
    height: 600px;
    margin: 100px auto 0;

    border-radius: 10px;
    padding: 5px;
    background-color: white;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 30px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}

.card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
}